[class*="col-"]{
  min-height: 80px;
  /* background-color: gray; */
  /* border: 1px solid black; */
}

body{
  /* background: blue; */
  font-family: 'Lato', sans-serif;
}
h1{
  color: white;
  font-size: 65px;
  font-weight: 600;
}
h2{
  font-weight: 800;
  font-size: 35px;
}
h4{
  font-size: 17px;
  font-weight: 800;
}
p{
  font-size: 22px;
  color: #667593;
}
ul{
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
span > a{
  color: #238DCD;
  font-size: 14px;
  font-weight: 600;
}

/* <!-- header_top --> */
#ms_header_top{
  background: white;
  width: 100%;
  height: 80px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  line-height: 76px;
  border-bottom: 2px solid #667593;
}
#ms_header_top img{

  width: 172px;
  height: 28px;
  /* vertical-align: middle; */
}
.nav > li > a{
  padding: 0 10px 0 0;
  color: #0E0E0E;
  font-size: 17px;
  font-weight: 600;
}
.nav > li > a:hover{
  background: none;
  color: #045ffb;
}
.col-xs-3.col-lg-4 li{
  /* text-align: right; */
  padding-right: 0;
}
.col-xs-3.col-lg-4 li:first-child{
  padding-left: 90px;
}
#ms_header_top .sm_top_button{
  border: 2px solid  #3A8AFF;
  color:  #3A8AFF;
  line-height: 45px;
  margin-top: 15px;
  padding-left: 5px;
}
#ms_header_top .sm_top_button:hover{
  background:  #3A8AFF;
  color: white;
}
#ms_header_top .ms_hamburger{
  color: #3A8AFF;
  font-size: 30px;
  margin-top: 20px;
  line-height: 45px;
}
/* <!-- /header_top --> */

/* <!-- jumbotron --> */
#ms_jumbotron{
  /* margin-top: 80px; */
  height: 800px;
  background-image: url('../img/jumbotron.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#ms_jumbotron [class*="col-"]{
  padding: 200px 15px 150px 15px;
}
#ms_jumbotron p{
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

#ms_jumbotron .ms_deploy{
  background: white;
  width: 450px;
  height: 443px;
  padding: 15px;
  border-radius: 5px;
}
#ms_jumbotron .ms_deploy h2{
  font-weight: 800;
  line-height: 45px;
}
#ms_jumbotron .ms_deploy h2 span{
  color: #006AFF;
}
.ms_deploy .ms_register{
  width: 195%;
  border-radius: 5px !important;
  box-shadow: none;
  font-size: 17px;
  padding: 25px 10px;
  margin-bottom: 12px;
}
.ms_deploy .ms_btn_create{
  background: #579AFF;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 142px;
  margin-left: -5px;
  margin-bottom: 5px;
}
.ms_deploy .ms_btn_create:hover{
  background: #1633FF;
}
.ms_deploy .ms_btn_sign{
  background: white;
  color: #6B6B6B;
  border-radius: 5px !important;
  margin-left: -2px;
  padding: 10px 142px;
}
.ms_deploy .ms_btn_sign:hover{
  background: white;
  color: black;
  border-color: black;
  border-radius: 5px !important;
}
.ms_deploy div.btn-group{
  position: relative;
}
.ms_deploy div.btn-group img{
  position: absolute;
  width: 25px;
  height: 25px;
  float: none;
  top: 45%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.ms_deploy span,
#ms_header_bottom span{
  font-weight: 600;
}
/* <!-- /jumbotron --> */

/* <!-- ms_header_bottom --> */
#ms_header_bottom{
  background: #F3F5F9;
  height: 325px;
  width: 100%;
  padding: 50px 0;
}
#ms_header_bottom h4{
  color: #5B6987;
  font-size: 16px;
  font-weight: 600;
}
#ms_header_bottom .ms_partner{
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100px;
}
.ms_partner img{
  max-width: 160px;
  min-height: 95px;
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* <!-- /ms_header_bottom --> */

/* <!-- ms_deploy_main --> */
#ms_deploy_main{
  padding: 50px 0;
}
#ms_deploy_main .ms_wrapper80{
  width: 82% ;
  margin: 0 auto;
  margin-top: 50px;
}
#ms_deploy_main .ms_deploy_list{
  height: 255px;
  border-left: 3px solid #CCCCCC;
}
.ms_deploy_list ul{
  list-style: none;
}
.ms_deploy_list ul li{
  color: #75809A;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 10px;
}
#ms_deploy_main img{
  max-width: 40px;
  min-height: 40px;
}
.ms_wrapper80 p,
#ms_features_main p{
  font-size: 14px;
}
/* <!-- /ms_deploy_main --> */

/* <!-- ms_designed_main --> */
#ms_designed_main{
  background: #F3F5F9;
  padding: 50px 0;
}
#ms_designed_main .ms_wrapper70{
  width: 60%;
  margin: 0 auto;
  margin-top: 70px;
}
.ms_wrapper70 img{
  width: 80%;
  margin: 0 auto;
}
.ms_wrapper70 .ms_angle_left{
  font-size: 50px;
  padding: 20px;
  color: darkgray;
}
.ms_angle_left:hover{
  color: gray;
}
.ms_wrapper70 .ms_angle_right{
  font-size: 50px;
  padding: 20px;
  color: black;
}
.ms_angle_right:hover{
  color: #333333;
}
.ms_wrapper70 p{
  color: #122A58;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-block-end: 0;
}
.ms_wrapper70 .ms_circles a{
  font-size: 12px;
  color: #1633FF;
  margin-top: 5px;
  padding-right: 3px;
}
.ms_wrapper70 .ms_circles a:hover{
  color: #579AFF
}
/* <!-- /ms_designed_main --> */

/* <!-- ms_features_main --> */
#ms_features_main{
  padding: 50px 0;
}
#ms_features_main .row.text-left{
  margin-top: 45px;
}
#ms_features_main img{
  border: 1px solid #006AFF;
  border-radius: 5px;
}
/* <!-- /ms_features_main --> */

/* <!-- ms_service_main --> */
#ms_service_main{
  background-color: #031B4E;
  background-image: url('../img/blue-map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
#ms_service_main [class*="col-"]:not([class*="col-xs-12"]){
  min-height: 40px;
  border-bottom: 1px solid white;
}

#ms_service_main .ms_bottom_none {
  border-bottom: none !important;
}
#ms_service_main h2{
  color: white;
}
#ms_service_main .ms_padding_service{
  padding-top: 30px;
}
#ms_service_main span{
  display: block;
  padding-top: 10px;
}
#ms_service_main .ms_sx{
  color: white;
  font-weight: 600;
}
#ms_service_main .ms_md{
  color: #9DB3E2;
}
#ms_service_main span a{
  float: right;
  color: #00C0CF;
}
/* <!-- /ms_service_main --> */

/* -------------------------QUERIES-------------------------- */
@media screen and (min-width: 1200px){

  /* <!-- jumbotron --> */
  #ms_jumbotron{
  height: 700px;
  }
  #ms_jumbotron [class*="col-"]{
    padding: 180px 15px 150px 15px;
  }
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_main --> */
  /* <!-- /ms_deploy_main --> */

  /* <!-- ms_designed_main --> */
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  /* <!-- /ms_service_main --> */
}

@media screen and (min-width: 992px) and (max-width: 1199px){

  /* <!-- jumbotron --> */
  #ms_jumbotron .ms_deploy{
    width: 370px;
    height: 500px;
  }
  #ms_jumbotron .ms_register{
    width: 145%;
    font-size: 20px;
  }
  .ms_deploy .ms_btn_create{
    padding: 10px 105px;
    margin-left: -5px;
    background: #579AFF;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .ms_deploy .ms_btn_sign{
    background: white;
    color: #6B6B6B;
  }
  .ms_deploy .ms_btn_sign:hover{
    background: white;
    color: black;
    border-color: black;
  }
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  .ms_partner img {
    max-width: 140px;
    min-height: 95px;
  }
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_main --> */
  /* <!-- /ms_deploy_main --> */

  /* <!-- ms_designed_main --> */
  .ms_wrapper70 img {
    width: 75%;
  }
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  /* <!-- /ms_service_main --> */
}

@media screen and (min-width: 768px) and (max-width: 991px){

  /* <!-- jumbotron --> */
  h1{
    padding-top: 100px;
    font-size: 40px;
  }
  #ms_jumbotron [class*="col-"]{
    padding: 10px 15px 0px 15px;
  }
  #ms_jumbotron .ms_deploy {
    width: 719px;
    height: 395px;
  }
  .ms_deploy .ms_register {
    width: 320%;
    border-radius: 5px !important;
    box-shadow: none;
    font-size: 18px;
    padding: 25px 10px;
    margin-bottom: 12px;
  }
  .ms_deploy .ms_btn_create {
    padding: 10px 270px;
    margin-left: -2px !important;
    background: #579AFF;
    color: white;
    font-size: 17px;
    font-weight: 600;
  }
  .ms_deploy .ms_btn_sign{
    background: white;
    color: #6B6B6B;
  }
  .ms_deploy .ms_btn_sign:hover{
    background: white;
    color: black;
    border-color: black;
  }
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  .ms_partner img {
    max-width: 110px;
    min-height: 80px;
  }
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_main --> */
  /* <!-- /ms_deploy_main --> */

  /* <!-- ms_designed_main --> */
  .ms_wrapper70 .ms_angle_left {
    font-size: 40px;
    padding: 15px;
  }
  .ms_wrapper70 img {
    width: 75%;
  }
  .ms_wrapper70 .ms_angle_right {
    font-size: 40px;
    padding: 15px;
  }
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  /* <!-- /ms_service_main --> */
}

@media screen and (max-width: 767px){

  /* <!-- jumbotron --> */
  h1{
    padding-top: 110px;
    color: white;
    font-size: 30px;
    font-weight: 600;
  }
  #ms_jumbotron p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }
  #ms_jumbotron [class*="col-"]{
    padding: 10px 15px 0px 15px;
  }
  #ms_jumbotron .ms_deploy {
    background: white;
    width: 344px;
    height: 345px;
    padding: 5px 15px;
    border-radius: 5px;
  }
  #ms_jumbotron .ms_deploy h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
  }
  .ms_deploy .ms_register {
    width: 165%;
    border-radius: 5px !important;
    box-shadow: none;
    font-size: 15px;
    padding: 16px 10px;
    margin-bottom: 10px;
  }
  .ms_deploy .ms_btn_create {
    padding: 6px 98px;
    margin-left: -1px !important;
    background: #579AFF;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
  .ms_deploy .ms_btn_sign{
    background: white;
    color: #6B6B6B;
  }
  .ms_deploy .ms_btn_sign:hover{
    background: white;
    color: black;
    border-color: black;
  }
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  #ms_header_bottom {
    height: 350px;
    padding: 25px 0;
  }
  #ms_header_bottom h4 {
    font-size: 14px;
  }
  #ms_header_bottom .ms_partner {
    margin-top: 0;
    margin-bottom: 0;
    height: 80px;
  }
  .ms_partner img {
    max-width: 115px;
    min-height: 80px;
  }
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_main --> */
  h2{
    font-size: 27px;
  }
  p{
    font-size: 18px;
  }
  #ms_deploy_main .ms_wrapper80 {
    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
  #ms_deploy_main .container-fluid.text-left{
    padding: 20px 0
  }
  .ms_wrapper80 p {
    font-size: 13px;
  }
  /* <!-- /ms_deploy_main --> */

  /* <!-- ms_designed_main --> */
  .ms_wrapper70 .ms_angle_left,
  .ms_wrapper70 .ms_angle_right{
    display: none;
  }
  .ms_wrapper70 p {
    font-size: 11px;
    margin-bottom: 10px;
}
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  #ms_features_main .col-xs-12:not(:first-child) {
    margin-top: 30px;
}
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  #ms_service_main span a {
    padding-top: 4px;
    font-size: 10px;
}
  /* <!-- /ms_service_main --> */
}
