[class*="col-"]{
  min-height: 80px;
  /* background-color: gray; */
  /* border: 1px solid black; */
}

body{
  /* background: blue; */
  font-family: 'Lato', sans-serif;
}
h1{
  color: white;
  font-size: 65px;
  font-weight: 600;
}
h2{
  font-weight: 800;
  font-size: 35px;
}
h4{
  font-size: 17px;
  font-weight: 800;
}
p{
  font-size: 22px;
  color: #667593;
}
ul{
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
span > a{
  color: #238DCD;
  font-size: 14px;
  font-weight: 600;
}

/* <!-- header_top --> */
#ms_fixed_top{
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  border-bottom: 2px solid #667593;
}
#ms_fixed_top .ms_fixed_top_left,
#ms_fixed_top .ms_fixed_top_middle{
  line-height: 78px;
}
#ms_fixed_top .ms_fixed_top_right{
  line-height: 82px;
}
#ms_fixed_top .ms_fixed_top_nesting{
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}

.ms_fixed_top_left img{
  display: inline-block;
  max-width: 170px;
  min-height: 30px;
  vertical-align: middle;
}

.nav > li > a{
  color: #0E0E0E;
  font-size: 17px;
  font-weight: 600;
  padding: 0 10px 0 0;
}
.nav > li > a:hover{
  color: #045ffb;
  background: none;
}

.ms_fixed_top_right{
  float: right;
}
#ms_fixed_top .ms_top_button{
  border: 2px solid  #3A8AFF;
  color:  #3A8AFF;
  text-align: center;
  padding-left: 8px;
}
#ms_fixed_top .ms_top_button:hover{
  background:  #3A8AFF;
  color: white;
}

.ms_hamburger{
  color: #3A8AFF;
  font-size: 30px;
}

/* <!-- /header_top --> */

/* <!-- jumbotron --> */
#ms_jumbotron{
  margin-top: 30px;
  padding: 110px 0 50px 0;
  background-image: url('../img/jumbotron.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#ms_jumbotron p{
  color: white;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

#ms_jumbotron .ms_deploy_contact{
  background: white;
  width: 90%;
  float: right;
  padding: 30px 0;
  border-radius: 5px;
}
#ms_jumbotron .ms_deploy_contact h2{
  line-height: 45px;
  font-size: 25px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}
#ms_jumbotron .ms_deploy_contact h2 span{
  color: #006AFF;
}

.ms_deploy_contact .ms_jumbotron_form{
  margin: 4%;
}
.ms_deploy_contact button{
  margin-bottom: 10px;
}
.ms_deploy_contact .ms_btn_form{
  display: block;
  width: 100%;
  padding: 10px 0;
  border: 1px solid gray;
}
.ms_deploy_contact .ms_btn_blue{
  background: #579AFF;
  color: white;
  font-weight: 600;
}
.ms_deploy_contact .ms_btn_blue:hover{
  background: #1633FF;
}
.ms_deploy_contact .ms_btn_google{
  background: white;
  color: #626262;
  font-weight: 600;
  border: 1px solid #E6E6E6;
  box-shadow: 1px 1px 1px #E6E6E6;
}
.ms_deploy_contact .ms_btn_google:hover{
  border: 1px solid gray;
}
.ms_deploy_contact .ms_google_sign{
  position: relative;
}
.ms_google_sign img{
  position: absolute;
  width: 25px;
  height: 25px;
  float: none;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.ms_deploy_contact span,
#ms_header_bottom span{
  font-weight: 600;
}
/* <!-- /jumbotron --> */

/* <!-- ms_header_bottom --> */
#ms_header_bottom{
  background: #F3F5F9;
  height: 325px;
  width: 100%;
  padding: 50px 0;
}
#ms_header_bottom h4{
  color: #5B6987;
  font-size: 16px;
  font-weight: 600;
}
#ms_header_bottom .ms_partner{
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100px;
}
.ms_partner img{
  max-width: 160px;
  min-height: 95px;
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* <!-- /ms_header_bottom --> */

/* <!-- ms_deploy_main --> */
#ms_deploy_main{
  padding: 50px 0;
}
#ms_deploy_main .ms_wrapper80{
  width: 82% ;
  margin: 0 auto;
  margin-top: 50px;
}
#ms_deploy_main .ms_deploy_list{
  height: 255px;
  border-left: 3px solid #CCCCCC;
}
.ms_deploy_list ul{
  list-style: none;
}
.ms_deploy_list ul li{
  color: #75809A;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 10px;
}
#ms_deploy_main img{
  max-width: 40px;
  min-height: 40px;
}
.ms_wrapper80 p,
#ms_features_main p{
  font-size: 14px;
}
/* <!-- /ms_deploy_main --> */

/* <!-- ms_designed_main --> */
.ms_designed_main{
  background: #F3F5F9;
  padding: 50px 0;
}
.ms_designed_main .ms_wrapper70{
  width: 60%;
  margin: 0 auto;
  margin-top: 70px;
}
.ms_wrapper70 img{
  width: 80%;
  margin: 0 auto;
}
.ms_wrapper70 .ms_angle_left{
  font-size: 50px;
  padding: 20px;
  color: darkgray;
}
.ms_angle_left:hover{
  color: gray;
}
.ms_wrapper70 .ms_angle_right{
  font-size: 50px;
  padding: 20px;
  color: black;
}
.ms_angle_right:hover{
  color: #333333;
}
.ms_wrapper70 p{
  color: #122A58;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-block-end: 0;
}
.ms_wrapper70 .ms_circles a{
  font-size: 12px;
  color: #1633FF;
  margin-top: 5px;
  padding-right: 3px;
}
.ms_wrapper70 .ms_circles a:hover{
  color: #579AFF
}
/* <!-- /ms_designed_main --> */

/* <!-- ms_features_main --> */
#ms_features_main{
  padding: 50px 0;
}
#ms_features_main .row.text-left{
  margin-top: 45px;
}
#ms_features_main img{
  border: 1px solid #006AFF;
  border-radius: 5px;
}
/* <!-- /ms_features_main --> */

/* <!-- ms_service_main --> */
#ms_service_main{
  background-color: #031B4E;
  background-image: url('../img/blue-map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
#ms_service_main [class*="col-"]:not([class*="col-xs-12"]){
  min-height: 40px;
  border-bottom: 1px solid white;
}

#ms_service_main .ms_bottom_none {
  border-bottom: none !important;
}
#ms_service_main h2,
#ms_get_started_main h2{
  color: white;
}
#ms_service_main .ms_padding_service{
  padding-top: 30px;
}
#ms_service_main span{
  display: block;
  padding-top: 10px;
}
#ms_service_main .ms_sx{
  color: white;
  font-weight: 600;
}
#ms_service_main .ms_md{
  color: #9DB3E2;
}
#ms_service_main span a{
  float: right;
  color: #00C0CF;
}
/* <!-- /ms_service_main --> */

/* <!-- ms_development_main --> */
.ms_designed_main .ms_circles{
  padding-top: 30px;
}
/* <!-- /ms_development_main --> */

/* <!-- ms_get_started_main --> */
#ms_get_started_main{
  padding: 50px 0;
  background-image: url('../img/get-started-now.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
#ms_get_started_main .ms_btn_create{
  padding: 10px 20px;
  color: #0069FD;
  font-size: 15px;
  font-weight: 600;
}
/* <!-- /ms_get_started_main --> */
footer{
  padding: 50px 0;
  background: #010E28;
  color: white;
}
footer img{
  margin-bottom: 15px;
}
footer ul li{
  display: inline-block;
}
footer .ms_footer_social{
/* border: 1px solid white; */
position: relative;
width: 25px;
height: 25px;
margin-top: 7px;
margin-right: 10px;
}
footer i{
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5A6887;
  vertical-align: middle;
  font-size: 25px;
}
footer i:hover{
  color: white;
}
footer h4{
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
footer span,
footer span a{
  display: block;
  color: #807E7F;
  font-size: 17px;
  font-weight: 600;
}
footer .col-xs-12.col-sm-6.col-lg-2 span a{
  margin-bottom: 7px;
}
footer .col-xs-12.col-lg-4 span:last-of-type{
  color: #5A6887;
}
footer span a:hover{
  color: white;
  text-decoration: none;
}


/* -------------------------QUERIES-------------------------- */
@media screen and (min-width: 1200px){

  /* <!-- jumbotron --> */
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_contact_main --> */
  /* <!-- /ms_deploy_contact_main --> */

  /* <!-- ms_designed_main --> */
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  /* <!-- /ms_service_main --> */

  /* <!-- ms_development_main --> */
  /* <!-- /ms_development_main --> */

  /* <!-- ms_get_started_main --> */
  /* <!-- /ms_get_started_main --> */
}

@media screen and (min-width: 992px) and (max-width: 1199px){

  /* <!-- jumbotron --> */
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  .ms_partner img {
    max-width: 140px;
    min-height: 95px;
  }
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_contact_main --> */
  /* <!-- /ms_deploy_contact_main --> */

  /* <!-- ms_designed_main --> */
  .ms_wrapper70 img {
    width: 75%;
  }
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  /* <!-- /ms_service_main --> */

  /* <!-- ms_development_main --> */
  /* <!-- /ms_development_main --> */

  /* <!-- ms_get_started_main --> */
  /* <!-- /ms_get_started_main --> */
}

@media screen and (min-width: 768px) and (max-width: 991px){

  /* <!-- jumbotron --> */
  #ms_jumbotron {
    padding: 100px 0 50px 0;
  }
  #ms_jumbotron .ms_deploy_contact{
    float: none;
    width: 100%;
  }
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  .ms_partner img {
    max-width: 110px;
    min-height: 80px;
  }
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_contact_main --> */
  /* <!-- /ms_deploy_contact_main --> */

  /* <!-- ms_designed_main --> */
  .ms_wrapper70 .ms_angle_left {
    font-size: 40px;
    padding: 15px;
  }
  .ms_wrapper70 img {
    width: 75%;
  }
  .ms_wrapper70 .ms_angle_right {
    font-size: 40px;
    padding: 15px;
  }
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  /* <!-- /ms_service_main --> */

  /* <!-- ms_development_main --> */
  /* <!-- /ms_development_main --> */

  /* <!-- ms_get_started_main --> */
  /* <!-- /ms_get_started_main --> */
}

@media screen and (max-width: 767px){

  /* <!-- jumbotron --> */
  #ms_jumbotron {
    padding: 65px 0 50px 0;
  }
  h1 {
    font-size: 34px;
  }
  #ms_jumbotron p {
    font-size: 16px;
  }
  #ms_jumbotron .ms_deploy_contact{
    float: none;
    width: 100%;
  }
  #ms_jumbotron .ms_deploy_contact h2 {
    line-height: 32px;
    font-size: 23px;
  }
  /* <!-- /jumbotron --> */

  /* <!-- ms_header_bottom --> */
  #ms_header_bottom {
    height: 350px;
    padding: 25px 0;
  }
  #ms_header_bottom h4 {
    font-size: 14px;
  }
  #ms_header_bottom .ms_partner {
    margin-top: 0;
    margin-bottom: 0;
    height: 80px;
  }
  .ms_partner img {
    max-width: 115px;
    min-height: 80px;
  }
  /* <!-- /ms_header_bottom --> */

  /* <!-- ms_deploy_contact_main --> */
  h2{
    font-size: 27px;
  }
  p{
    font-size: 18px;
  }
  #ms_deploy_contact_main .ms_wrapper80 {
    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
  #ms_deploy_contact_main .container-fluid.text-left{
    padding: 20px 0
  }
  .ms_wrapper80 p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  /* <!-- /ms_deploy_contact_main --> */

  /* <!-- ms_designed_main --> */
  .ms_wrapper70 .ms_angle_left,
  .ms_wrapper70 .ms_angle_right{
    display: none;
  }
  .ms_wrapper70 p {
    font-size: 11px;
    margin-bottom: 10px;
}
  /* <!-- /ms_designed_main --> */

  /* <!-- ms_features_main --> */
  #ms_features_main .col-xs-12:not(:first-child) {
    margin-top: 30px;
}
  /* <!-- /ms_features_main --> */

  /* <!-- ms_service_main --> */
  #ms_service_main span a {
    padding-top: 4px;
    font-size: 9px;
}
  /* <!-- /ms_service_main --> */

  /* <!-- ms_development_main --> */
  /* <!-- /ms_development_main --> */

  /* <!-- ms_get_started_main --> */
  /* <!-- /ms_get_started_main --> */

  /* footer */
  footer span, footer span a {
    font-size: 16px;
  }
  /* /footer */

}
